.bash_history
.bash_logout
.config/chromium
.config/fcitx
.config/dconf
.config/gtk-3.0
.config/yay
.fehbg
Downloads
.cache
.local
.oh-my-zsh-cache
.pki
Project
.ssh
.sunpinyin
.vscode-oss
.wget-hsts
.Xauthority
.zcompdump-arch-5.8
.zsh_history
.viminfo
.gitconfig
.vim/netrwhist
.config/Code\ -\ OSS
Pictures
.java
.config/nixnote2
.config/QtProject.conf
.config/Dharkael
bin
.config/rclone
Video
.aria2
.config/VirtualBox
.config/vlc
.config/mimeapps.list
.config/nautilus
.config/xfce4
Utils
